@import 'tailwindcss';

/* Color theme identity */

@theme {
  /* background color */
  --color-dark-green-jdr: #122324;

  /* surfaces, cards, sidebars... color */
  --color-green-jdr: #2f3a32;

  /* text and interactions color */
  --color-creamy-jdr: #db9f75;

  /* primary button and interactions hover color */
  --color-orange-jdr: #804012;

  /* hover button background, overlays, danger zone... color */
  --color-brown-jdr: #3e2411;

  /* borders, separators, secondary elements... color */
  --color-olive-jdr: #545748;
}

/* global background color of the app */
#app {
  min-height: 100vh;
  background-color: var(--color-dark-green-jdr);
}
